head
  title BusOnAir
  meta(name='viewport', content='width=device-width, initial-scale=1.0')

  link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
  link(rel='stylesheet', href='/css/bootstrap.min.css')

link(rel='stylesheet/less', href='/less/stylesheet.less')

//Map
link(rel='stylesheet', href='/css/leaflet.css')

link(rel='stylesheet', href='/css/font-awesome.css')

//mystyle
link(rel='stylesheet', href='/css/mystyle.css')
link(rel='stylesheet', href='/css/mystyle-skin.css')



link(rel='stylesheet', href='')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
  style(type='text/css')
    body { padding-bottom: 40px; }
    .sidebar-nav { padding: 9px 0; } 
