head
	title BusOnAir
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(name='description', content='BusOnAir')
	meta(name='author', content='BOA_Team')
	//
		Map
	link(rel='stylesheet', href='css/leaflet.css')
	link(rel='stylesheet', href='css/font-awesome.css')
	link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.5/leaflet.css')
	//
		Font awesome
	link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
	//
		mystyle
	link(rel='stylesheet', href='css/mystyle.css')
	link(rel='stylesheet', href='css/mystyle-skin.css')
	link(rel='stylesheet', href='css/bootstrap-theme.min.css')
	link(rel='stylesheet', href='css/bootstrap.min.css')
	//
		timepicker 
	link(rel='stylesheet', href='css/bootstrap-timepicker.css')
	link(rel='stylesheet', href='css/bootstrap-timepicker.min.css')
	//
		favicon 
	link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
	link(rel='icon', href='img/favicon.ico', type='image/x-icon')
	//
		photon 
	link(rel='stylesheet', href='css/leaflet.photon.css')

	link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato')