doctype html
html
  include inc/header
  body.overflow-hidden
    #wrapper
      #top-nav.fixed.skin-6
        a.brand(href='#')
          span Bus On Air
          span.text-toggle
        //
          brand 
        button#sidebarToggle.navbar-toggle.pull-left(type='button')
          span.icon-bar
          span.icon-bar
          span.icon-bar
      //
        top-nav
      aside.fixed.skin-6
        .sidebar-inner.scrollable-sidebar
          .main-menu
            ul
              //
                Trip planner 
              li.openable
                a(href='#')
                  span.menu-icon
                    i.fa.fa-location-arrow.fa-lg
                  span.text
                    | Trip planner
                  span.menu-hover
                ul.submenu
                  li
                    .search-block
                      .input-group
                        span.input-group-btn
                          button.btn.btn-default.btn-sm.disabled(type='button') A
                        input#nominatim1.form-control.input-sm.photon-input.nominatim(type='text', placeholder='search here...')
                        ul.photon-autocomplete
                      //
                        input-group 
                      .input-group
                        span.input-group-btn
                          button.btn.btn-default.btn-sm.disabled(type='button') B
                        input#nominatim2.form-control.input-sm.photon-input.nominatim(type='text', placeholder='search here...')
                        ul.photon-autocomplete
                      //
                        input-group 
                      .form-group
                        select#stato.form-control
                          option(value='1') Monday
                          option(value='2') Tuesday
                          option(value='3') Wednesday
                          option(value='4') Thursday
                          option(value='5') Friday
                          option(value='6') Saturday
                          option(value='0') Sunday
                        .input-group.input-append.bootstrap-timepicker
                          input#timepicker.form-control.input-sm.bootstrap-timepicker(type='text')
                          span.input-group-btn.add-on
                            button.btn.btn-default.btn-sm1(type='button')
                              i.fa.fa-clock-o.fa-lg
                        button#searchgo.btn.btn-primary.extended(type='submit') Go
                ul#indicazioni.submenu
                  li
                    #statusPanel
                    #directionsPanel
                //
                  Bus Routes 
                li.openable
                  a(href='#')
                    span.menu-icon
                      i.fa.fa-tag.fa-lg
                    span.text
                      | Bus Routes
                    span.menu-hover
                  ul.submenu
                    li
                      .search-block
                        input#spotlight.input-sm(type='text', placeholder='search here...')
                  ul#myline.submenu
                //
                  Information 
                li.openable
                  a(href='#')
                    span.menu-icon
                      i.fa.fa-info-circle.fa-lg
                    span.text
                      | Information
                    span.menu-hover
                  ul.submenu
                    li
                      #about
                        #about_in.acc_container
                          h4.spacer developed by:
                          p
                            | Department of Information Engineering, Computer Science and Mathematics at Universita' degli Studi De L'Aquila.
                      #about
                        #about_in.acc_container
                          h4.spacer people:
                          p Ivano Malavolta
                          p Francesco Gallo
                          p Ludovico Iovino
                          p Stefano Pace
                          p Vasco Gallotti
                          p Michele Flammini
                          p Michele Rastelli
                          p Sergio De Bei
          //
            main-menu 
        //
          Sidebar-inner 
      #main-container
        #map
        
  include inc/scripts